{% load static %}
<header class="transparent header-light header-float">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="header-inner">
                    <div class="de-flex">
                        <div class="de-flex-col">
                            <!-- logo begin -->
                            <div id="logo">
                                <a href="{% url 'index' %}">
                                    <img class="logo-main" src="{% static 'images/logo-1.png' %}" alt="D-DUMES SHELTER LIMITED">
                                    <img class="logo-scroll" src="{% static 'images/logo-1.png' %}" alt="D-DUMES SHELTER LIMITED">
                                    <img class="logo-mobile" src="{% static 'images/logo1.png' %}" alt="D-DUMES SHELTER LIMITED">
                                </a>
                            </div>
                            <!-- logo close -->
                        </div>

                        <div class="de-flex-col">
                            <div class="de-flex-col header-col-mid">
                                <ul id="mainmenu">
                                    {% if project_name %}
                                        {% for proj in navigation_projects.projects %}
                                            {% if proj.name == project_name %}
                                    <li><a class="menu-item" href="{% url 'index' %}">{{ proj.name }}</a>
                                        <ul class="mega px-lg-5">
                                            <li>
                                                <div class="container-fluid">
                                                    <div class="sb-menu p-4">
                                                        <div class="row g-3">
                                                            {% for project in navigation_projects.projects %}
                                                            <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                                                <div class="relative hover text-center overflow-hidden soft-shadow">
                                                                    <a class="p-0" href="{{ project.url }}">
                                                                        <img src="{% static project.image %}" class="w-100 relative hover-scale-1-1" alt="{{ project.name }}">
                                                                    </a>
                                                                </div>
                                                                <h6 class="mt-3">{{ project.name }}</h6>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {% if navigation_projects.projects %}
                                    <li><a class="menu-item" href="{% url 'index' %}">{{ navigation_projects.projects.0.name }}</a>
                                        <ul class="mega px-lg-5">
                                            <li>
                                                <div class="container-fluid">
                                                    <div class="sb-menu p-4">
                                                        <div class="row g-3">
                                                            {% for project in navigation_projects.projects %}
                                                            <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                                                <div class="relative hover text-center overflow-hidden soft-shadow">
                                                                    <a class="p-0" href="{{ project.url }}">
                                                                        <img src="{% static project.image %}" class="w-100 relative hover-scale-1-1" alt="{{ project.name }}">
                                                                    </a>
                                                                </div>
                                                                <h6 class="mt-3">{{ project.name }}</h6>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                        {% endif %}
                                    {% endif %}
                                    {% for item in navigation.main %}
                                    {% if item.title != "Home" %}
                                    <li><a class="menu-item" href="{{ item.url }}">{{ item.title }}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="de-flex-col">
                            <a class="btn-main fx-slide w-100" href="{% url 'contact' %}"><span>Contact Us</span></a>

                            <div class="menu_side_area">
                                <span id="menu-btn"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

