{% extends 'base.html' %}
{% load static %}

{% block content %}
        <section id="section-hero" class="section-dark text-light no-top no-bottom relative overflow-hidden mh-600 jarallax">
            <img src="{% static 'images/background/4.webp' %}" class="jarallax-img" alt="">
            <div class="gradient-edge-top op-6"></div>
            <div class="abs w-80 bottom-10 z-2 w-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="relative overflow-hidden">
                                <div class="wow fadeInUpBig" data-wow-duration="1.5s">
                                    <h1 class="fs-120 text-uppercase fs-sm-10vw mb-2 lh-1">Services</h1>
                                    <h3>Comprehensive Housing Solutions</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sw-overlay op-5"></div>
        </section>

        <section>
            <div class="container">
                <div class="row g-4">
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Real Estate Development & Construction</h4> 
                        <p>From bustling urban centers to underserved rural areas, we develop housing projects that cater to diverse demographics. Our designs are adaptable to local contexts, ensuring relevance and sustainability. We leverage cutting-edge technology and industry best practices to design and construct high-quality residential and commercial properties.</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Urban and Rural Residential Projects</h4> 
                        <p>Our expertise spans from conceptualization to completion, ensuring timely delivery and cost efficiency. We develop housing projects that cater to diverse demographics, with designs adaptable to local contexts, ensuring relevance and sustainability.</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Affordable Housing Solutions</h4> 
                        <p>We are committed to bridging Nigeria's housing deficit by providing low-cost, durable, and aesthetically pleasing homes for low- and middle-income families. Our affordable housing projects prioritize accessibility, functionality, and community integration.</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Project Financing and Management</h4> 
                        <p>D-Dumes Shelter offers comprehensive project management services, including feasibility studies, budgeting, and financing solutions. We collaborate with financial institutions and investors to ensure the successful execution of every project.</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Community Development Initiatives</h4> 
                        <p>At the core of D-Dumes Shelter's mission is a steadfast commitment to making homeownership accessible and affordable for all Nigerians. We create vibrant, inclusive communities that foster economic growth and social development.</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Sustainable Building Practices</h4> 
                        <p>Our focus on eco-friendly materials and energy-efficient designs supports SDG 13: Climate Action, reducing the environmental impact of our developments. We embrace cutting-edge technologies and creative solutions to deliver sustainable, high-quality housing.</p>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-6">
                    <div class="p-4 border-gray h-100 wow fadeInUp">
                        <h4>Environmental Impact Management</h4> 
                        <p>D-Dumes Shelter Limited is dedicated to aligning its operations with global housing and sustainability objectives, including the United Nations Sustainable Development Goals (SDGs). Our projects directly contribute to SDG 11: Sustainable Cities and Communities.</p>
                    </div>
                  </div>
                </div>
            </div>
        </section>
{% endblock %}


